body {
  min-width: 320px;
  max-width: 540px;
  background-color: #f2f2f2;
  color: black;
  margin: 0 auto;
  font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
  overflow-x: hidden;
  /* 清除点击高亮 */
  -webkit-tap-highlight-color: transparent;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

/* 搜索模块 */
.search-index {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  min-width: 320px;
  max-width: 540px;
  height: 44px;
  background-color: #f6f6f6;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.search {
  position: relative;
  flex: 1;
  height: 26px;
  line-height: 24px;
  font-size: 12px;
  color: #666;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 8px 10px;
  padding-left: 25px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}
.search::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: url(../images/sprite.png) no-repeat -59px -279px;
  background-size: 104px;
}
.user {
  width: 44px;
  height: 44px;
  font-size: 12px;
  text-align: center;
  color: #2eaae0;
}
.user::before {
  display: block;
  width: 23px;
  height: 23px;
  content: "";
  background: url(../images/sprite.png) no-repeat -59px -194px;
  background-size: 104px;
  margin: 4px auto -2px;
}

/* 焦点图 */
.focus {
  margin-top: 44px;
  height: 78px;
}
.focus img {
  width: 100%;
}

/* 头导航 */
.local-nav {
  display: flex;
  height: 64px;
  background-color: #fff;
  border-radius: 8px;
  margin: 3px 4px;
}
.local-nav li {
  flex: 1;
}
.local-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.local-nav li span[class^='local-nav-icon'] {
  width: 32px;
  height: 32px;
  background: url(../images/localnav_bg.png) no-repeat 0 0;
  background-size: 32px;
  margin-top: 8px;
}
.local-nav li a .local-nav-icon2 {
  background-position: 0 -32px;
}
.local-nav li a .local-nav-icon3 {
  background-position: 0 -64px;
}
.local-nav li a .local-nav-icon4 {
  background-position: 0 -96px;
}
.local-nav li a .local-nav-icon5 {
  background-position: 0 -128px;
}

/* 主体导航 */
nav {
  margin: 0 4px 3px;
  border-radius: 8px;
  overflow: hidden;
}
.nav-com {
  display: flex;
  height: 88px;
  background-color: pink;
}
.nav-com:nth-child(1) {
  background: -webkit-linear-gradient(left,#FA5A55,#FA994D);
}
.nav-com:nth-child(2) {
  margin: 3px 0;
  background: -webkit-linear-gradient(left,#4B90ED,#53BCED);
}
.nav-com:nth-child(3) {
  background: -webkit-linear-gradient(left,#34C2A9,#6CD559);
}
.nav-items {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.nav-items:nth-child(-n+2) {
  border-right: 1px solid white;
}
.nav-items a {
  flex: 1;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  text-shadow: 1px 1px rgba(0,0,0,.3);
}
.nav-items a:nth-child(1) {
  border-bottom: 1px solid white;
}
.nav-items:first-child a {
  border: 0;
  background: url(../images/hotel.png) no-repeat bottom center;
  background-size: 121px;
}

/* 尾导航 */
.subnav {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 4px;
  padding: 5px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.subnav li {
  width: 20%;
  margin: 3px 0;
}
.subnav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.subnav span[class^="subnav-icon"] {
  width: 28px;
  height: 28px;
  background-color: pink;
  margin-top: 4px;
  background: url(../images/subnav-bg.png) no-repeat 0 3px; 
  background-size: 28px;
}
.subnav li .subnav-icon2 {
  background-position: 3px -28px;
}
.subnav li .subnav-icon3 {
  background-position: 3px -62px;
}
.subnav li .subnav-icon5 {
  background-position: 1px -97px;
}

/* 热门活动模块 */
.act-box {
  border-top: 1px solid #bbb;
  background-color: #fff;
  margin: 4px 4px;
}
.act-hd {
  overflow: hidden;
  height: 44px;
  border-bottom: 1px solid #000;
}
.act-hd h2 {
  float: left;
  text-indent: -999px;
  overflow: hidden;
  width: 79px;
  height: 15px;
  background: url(../images/hot.png) no-repeat 0 -20px;
  background-size: 79px;
  margin: 14px 0 0 20px;
}
.ad {
  float: left;
  width: 30px;
  height: 15px;
  line-height: 15px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  background-color: rgba(0,0,0,.3);
  margin: 14px 3px;
  text-align: center;
  border-radius: 5px;
}
.act-hd a {
  position: relative;
  float: right;
  margin: 12px 10px;
  padding: 1px 20px 1px 10px;
  background: -webkit-linear-gradient(left,#FF506C,#FF6BC6);
  border-radius: 15px;
  color: #fff;
  font-size: 12px;
}
.act-hd a::after {
  position: absolute;
  top: 7px;
  right: 9px;
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}
.row {
  display: flex;
}
.row a {
  flex:1;
  border-bottom: 1px solid #eee;
}
.row:first-child a {
  border-right: 1px solid #eee;
}
.row a img {
  width: 100%;
}